/* Style sheet for the Calculator project */

/* 
My Colors:
white: #F2EBF0
dark: #012623
bright green: #5D8C60
pale green: #657371
grey: #B8BFBE 
*/

* ,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    font-weight: normal;
}
body {
    margin: 0;
    padding:0;
    background-image: url("./images/background-image.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 700px;
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    padding-top: 8%;
}
.button {
    cursor: pointer;
    font-size: 2rem;
    background-color: #5D8C6010;
    margin: 2px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: white 0 0 50px 0px;
    font-weight: 900;
    text-shadow: 0px 0px 10px #012623;
    user-select: none;
    transition: background-color 0.6s ease-in-out;
}
.button:hover {
    background-color: #657371;
    border: 1px solid white;
    box-shadow: 0 0 8px white;
}
.red:hover {
    background-color: #c65f5f80
}
.submit:hover {
    background-color: #65737190
}
.span-two {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: #B8BFBE;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: #012623 inset 0 0 10px;
    border-radius: 10px;
    border: #5D8C60 3px solid;
}
.output .previous-operand {
    color: #012623;
    font-size: 1.5rem;
    font-weight: 900;
}
.output .current-operand {
    color: #012623;
    font-size: 2.5rem;
    font-weight: 900;
}
.footer {
    background-color: #01262390;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px black;
    position: fixed;
    bottom: 0;
    gap: 10px;
}